  <!-- BUTTON PALPITÃO -->
  <div class="container-fluid">
    <!-- begin header -->
    <div class="jumbotron div-jumbotron-megasena"><br><br>
      <h1 class="text-center titulo animated slideInDown">
        MINHA MEGA SENA
      </h1>
      <p ng-if="mensagem.texto">
        {{mensagem.texto}}
      </p>
    </div>  
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 animated zoomIn">
        <ppt-palpite-megasena palpites="palpitesMegasena"></ppt-palpite-megasena>
        <!-- BUTTON TO DESKTOPS,TABLETS AND LARGE DECIVES -->
        <a ng-click="exibir();" class="btn btn-primary btn-palpitar">
          <img class="img-trevo" src="../shared/imagem-trevo-da-sorte.png" alt="Trevo da Sorte">
          <div class="descricao text-center" >Palpitão</div>
        </a>
      </div>
<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">CONCURSO 2023 </h3>
        <h4>SORTEIO: 17/03/2018</h4>
      </div>
      <div class="modal-body">
        <h5>PRÊMIO: R$ 60 MILHÕES</h5>
        <h5>LOCAL DO SORTEIO: CAMINHÃO DA SORTE EM MANHUAÇU, MG</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

  <div class="panel panel-success" ng-show = "goCats">
    Concuros
  </div>    
  <div class="tombol-ane1 animated slideInLeft" > 
    <a class="tombol-ani" data-toggle="modal" data-target="#myModal">
    <i class="fal fa-eye x2"></i>
    <p><strong>ÚLTIMO CONCURSO</strong><br><span>Click para exibir o último concurso da mega-sena</span></p>
    <i class="fa fa-chevron-right"></i>
    </a>
  </div>
</div>
  <!-- END BUTTON -->