<div class="container-fluid">
  <div class="row">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
        <!-- DIV dos números possíveis premiados-->
        <div class = "div-numeros animated fadeInUp">
          <ul>
            <!-- TODO: ng repeat-->
            <li ng-repeat = "palpite in $ctrl.palpites">
              <ol>
                <li ng-repeat = "n in palpite.numeros"  class = "li-numeros animated fadeInUp">
                    <div ng-if="n <=9" class="esfera animated zoomIn">
                      {{"0" + n}}
                    </div>
                    <div class="esfera animated zoomIn" ng-if="n >9">
                      {{n}}
                    </div>
                </li>

                
                <hr>
              </ol>
            </li>
            <!-- TODO: end-->
          </ul>
        </div>
        <!--END-->
        <!-- DIV dos números possíveis premiados mobile-->
        <div class = "div-numeros-mobile animated fadeInUp">
          <ul>
            <!-- TODO: ng repeat-->
            <li ng-repeat = "palpite in $ctrl.palpites">
              <ol>
                <li ng-repeat = "n in palpite.numeros"  class = "li-numeros animated fadeInUp">
                  <div ng-if="n <=9" class="esfera-mobile animated zoomIn">
                    {{"0" + n}}
                  </div>

                  <div ng-if="n >9" class="esfera-mobile animated zoomIn">
                    {{n}}
                  </div>
                </li>
                <hr>
              </ol>
            </li>
          </ul>
        </div>
        <!--END-->
      </div>
  </div>
        <!-- <div class="concurso-descricao animated fadeInLeft"> -->
          <br><br><br>
<!--     <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
      <div class="expandcollapse-item">
        <div ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
          
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Exibir último sorteio
          </button>

        </div>
        <div class="slideDown" ng-hide="!active">
          <div class="expand-collapse-content">
             <div class="well">
              Concurso 1991<br> 
              Resultado: 11-23-42-50-67-45<br>
              Data: 12/02/2018<br>
              Prêmio: R$58.322.202,00
            </div>
          </div>
        </div>
      </div>
      </div>
    </div> -->

  </div>
</div>