<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" width="10px" height="10px" src="../shared/logo-vertical.jpg">
      </a>
    </div>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Megasena</a></li>
      <li role="presentation"><a data-toggle="tooltip" data-placement="bottom" title="Jogo não disponível" href="#">Lotomania</a></li>
    </ul>
  </div>
</nav>
<!-- END HEADER -->

  <!-- BUTTON PALPITÃO -->
  <div class="container-fluid">
    <!-- begin header -->
    <div class="jumbotron div-jumbotron">
      <h1 class="text-center titulo animated slideInDown">
        MINHA MEGA-SENA
      </h1>
      <p ng-if="mensagem.texto">
        {{mensagem.texto}}
      </p>
    </div>  
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 animated zoomIn">
        <ppt-palpite-megasena palpites="palpitesMegasena"></ppt-palpite-megasena>
        <!-- BUTTON TO DESKTOPS,TABLETS AND LARGE DECIVES -->
        <a ng-click="exibir();" class="btn btn-primary btn-palpitar">
          <img class="img-trevo" src="../shared/imagem-trevo-da-sorte.png" alt="Trevo da Sorte">
          <div class="descricao text-center" >Palpitão</div>
        </a>
      </div>
    </div>
  </div>
  <!-- END BUTTON -->